# Development dependencies

# for CI
joblib
fastapi
uvicorn
lazypredict

# for CT
pip
python-dotenv>=0.5.1

# for local package
# -e .

# for CML
# os # built-in module, no need to specify
# unittest # built-in module, no need to specify
matplotlib

# for Docker
scikit-learn==1.7.2
pandas
numpy

# for CD
sagemaker
ipykernel
boto3